@using GroceryStore.Domain.Entities
@model GroceryStore.WebApp.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (Product p in Model.Products)
{
<div>
    <h3>@p.Name</h3>
      @p.Description
    <h2>@p.Price.ToString("c")</h2>
</div>
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x}) )
</div>



